*{
	margin:0;
	padding:0;
}

html{
	scroll-behavior: smooth;
}

body{
	
	
	color:#fff;
	
}

/*
	Navigation Section
*/

nav{
	display: flex;
	position: fixed;
	top:0;
	justify-content: center;
	align-items: center;
	background-color: #000;
	border-bottom: 2px solid #22777d;
	height:100px; 
	width:100%;
}

li{
	list-style: none;
	color:#fff;
	margin:20px 50px;
	font-family: 'Sriracha', cursive;
	font-size: 20px;
}

a{
	text-decoration: none;
}

.hidden-menu{
	cursor: pointer;
	position: relative;	
	padding: 10px 20px;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	user-select: none;
	z-index: 5;
}

.hidden-menu:before, .hidden-menu:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
	/*border-radius: 10px;*/
}

.hidden-menu:hover {
	color: #000;
	transition-delay: .3s;
}

.hidden-menu:hover:before {
	transition-delay: 0s;
}

.hidden-menu:hover:after {
	background: rgba(169, 222, 222,0.8);
	transition-delay: .3s;
}

.from-left:before, 
.from-left:after {
	content:'';
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid #fff;
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}


*, *:before, *:after {
	box-sizing: border-box;
}

.Logo{
	margin: 20px 10px;
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.burger{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border:3px solid #eee;
	padding:8px 1px;
	background-color: #eee;
	border-radius: 30px;
	transition: .3s;
}
.burger:hover{
	background-color: #22777d;
	border:3px solid #22777d;
	cursor: pointer;
}


.menu-line{
	width:30px;
	height:4px;
	background-color: #000;
	visibility: hidden; 
	margin:2px 5px;
}

.slide-out-menu{
	width:200px;
	height:100%;
	background-color: rgba(34, 119, 125,0.7);
	position: fixed;
	top:100px;
	left:0;
	transform: translate3d(-200px,0,0);
	transition:.3s;
}
.slide-out-menu li{
	cursor: pointer;
}
.slide-menu-show{
	transform: translate3d(0,0,0);
}
#go-back:hover{
	cursor: pointer;
	color:#000;
}




/*
	Title Field
*/

.title-field{
	background-image: url('../img/main-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 100px;
}
.main{
	padding:20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	
}

.main-title,.daily-title{
	font-size: 30px;
	font-family: 'Sriracha', cursive;
}
.main-item{
	margin:20px 0px;
}
.main-btn{
	padding:5px 10px;
	border:3px solid #fff;
	border-radius: 5px;
	color:#fff;
	background-color: transparent;
	font-family: 'Sriracha', cursive;
	outline: none;
	font-size: 20px;
	cursor: pointer;
	transition: .3s;
}

.main-btn:hover{
	color:#000;
	background-color: #fff;
	border:3px solid transparent;
}

/*
	Main Reading Section
*/

.daily-reading{
	height:800px;
	background-color: #153545;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.daily-title{
	color:#fff;
}
.row{
	display: flex;
	margin:10px;
}
.card-face{
	width:160px;
	height:283px;
	background-image: url('../img/cards/back-face.png');
	margin:5px;
	border:1px solid #000;
	cursor: pointer;
	border-radius: 20px;
}

@media (max-width:955px){
	.hidden-menu{
		visibility:hidden;
	}
	.menu-line{
		visibility: visible;
	}
	.logo-name{
		display: none;
	}
}

@media (max-width: 800px){
	nav{
		justify-content: flex-start;
	}
	.hidden-menu{
		display: none;
	}

}

@media(min-width:955px){
	.burger{
		display: none;
	}
}

