*{
	margin:0;
	padding:0;
}

html{
	scroll-behavior: smooth;
}

body{
	
	
	color:#fff;
	
}

/*
	Navigation Section
*/

nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

li{
	list-style: none;
	color:#fff;
	margin:20px 50px;
	font-family: 'Sriracha', cursive;
	font-size: 20px;
}

.Logo{
	margin: 20px 10px;
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.burger{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu-line{
	width:30px;
	height:10px;
	border-bottom:3px solid #eee;
	border-radius: 20%;
	visibility: hidden; 
	margin-left: 5px;
}

.title-field{
	background-image: url(../img/main-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
.main{
	padding:20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	
}

.main-title,.daily-title{
	font-size: 30px;
	font-family: 'Sriracha', cursive;
}
.main-item{
	margin:20px 0px;
}
.main-btn{
	padding:5px 10px;
	border:3px solid #fff;
	border-radius: 5px;
	color:#fff;
	background-color: transparent;
	font-family: 'Sriracha', cursive;
	outline: none;
	font-size: 20px;
	cursor: pointer;
	transition: .3s;
}

.main-btn:hover{
	color:#000;
	background-color: #fff;
	border:3px solid transparent;
}

/*
	Main Reading Section
*/

.daily-reading{
	height:800px;
	background-color: #153545;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.daily-title{
	color:#fff;
}

@media (max-width:955px){
	.hidden-menu{
		visibility:hidden;
	}
	.menu-line{
		visibility: visible;
	}
	.logo-name{
		display: none;
	}
}

@media (max-width: 625px){
	nav{
		justify-content: flex-start;
	}
	.hidden-menu{
		display: none;
	}

}

